@import "abstracts/variables";
@import "abstracts/mixins";

@import "base/reset";

@import "components/cards";
@import "components/navbar";
@import "components/buttons";

@import "layout/content";
@import "layout/header";
@import "layout/hero";
@import "layout/user";
@import "layout/paginacion";

@import "pages/about";
@import "pages/footer";
@import "pages/home";

@import "vendors/scss/bootstrap.scss";
