$color-white: #fff;
$color-platinum: #e6e7e7;
$color-light-gray: #d1d1d1;
$color-fuzzy-wuzzy: #e56353;
$color-ruddy-pink: #d76c69;
$color-spanish-pink: #ecbcba;
$color-eerie-black: #121619;
$color-raisin-black: #222323;
$color-nickel: #6c6e70;

$font-base: "Roboto", sans-serif;
$font-base-title: "Playfair Display", serif;

$font-xxl: 70px;
$font-xl: 30px;
$font-l: 18px;
$font-m: 16px;
$font-s: 12px;
