.button-hero {
  background: transparent;
  border: none;
  font-size: $font-xl;
  color: $color-white;
  justify-items: end;
}

.button {
  background: $color-nickel;
  border: none;
  padding: 10px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 32px;
  color: $color-white;
  cursor: pointer;

  &:hover {
    background: $color-light-gray;
  }

  &:focus {
    border: 2px solid $color-light-gray;
  }
  &:active {
    transform: scale(0.9);
  }
}
