.content {
  h3 {
    margin: 0;
    font-family: $font-base-title;
    font-size: $font-l;
    color: $color-raisin-black;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.content-text {
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding-bottom: 64px;

  p {
    margin: 0;
    font-family: $font-base;
    font-size: $font-m;
    font-weight: lighter;
    line-height: 45px;
    color: $color-raisin-black;
  }
}

@media screen and (max-width: 700px) {
  .content {
    h3 {
      font-size: $font-m;
      padding-top: 32px;
      padding-bottom: 32px;
    }
  }

  .content-text {
    gap: 32px;
    padding-bottom: 32px;

    p {
      font-size: $font-m;
      line-height: 40px;
    }
  }

  .content-buttons {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
}
