.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 70vh;
  width: 100%;
  color: $color-white;
  background: url("/assets/img/post-image.jpg") no-repeat center fixed;
  background-size: cover;

  h1 {
    font-family: $font-base-title;
    font-size: $font-xxl;
    justify-self: flex-start;
  }
}

@media screen and (max-width: 700px) {
  .hero-container {
    h1 {
      font-size: $font-xl;
    }
  }
}
